.msg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 0px 10px 10px 10px;

}
.container{
    background-color: #F3F3F3;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80%;
    overflow: scroll;
    display: flex;
    flex-direction: column;

}
.text{
    color: azure;
}
.main{
    display: flex;
    align-items: center;
    background: transparent;
    margin-top: 10px;
    height: 25%;
}
.sender{
    display: flex;
    align-items: center;
    display: inline-block;
    min-height:30%;
    border-radius:0px 10px 10px 10px;
    padding: 8px;
}