.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.form{
    box-shadow: 2px 2px 3px black;
    width:80%;
    display: flex;
    justify-content: center;
}
.sub_form{
    margin-left: 10%;
    width: 80%;
}